/* White Devil @ Devilshalani css3 stylesheet */
@import url('../assets/style.css');
@import url('../assets/lobstar/style.css');
@import url('../assets/poppins/style.css');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body
{
	min-height: 400vh;
	background: #fff;
}
.container
{
	position: relative;
	min-height: 400vh;
}
.container .banner
{
	top: 0;
	left: 0;
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .banner .me
{
	top: 30%;
	left: 50%;
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	transform: translateX(-50%);
	z-index: 2211;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.container .banner .text
{
	top: 70%;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1111;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 3em;
	line-height: 1.5em;
	color: #000;
}
.container .banner .splites--container
{
	top: 0;
	left: 0;
	position: fixed;
	z-index: 2;
}
.container .banner .heart
{
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 79999;
	background: #fff url(../assets/images/heart.svg);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	mix-blend-mode: screen;
}
.container .banner .splites
{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background: url(../assets/images/joyAk-4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.container .banner .splites#spliteLeft
{
	clip-path: polygon(0 0, 67% 0, 38% 12%, 71% 25%, 38% 35%, 73% 53%, 43% 61%, 63% 78%, 33% 86%, 57% 100%, 0 100%);
}
.container .banner .splites#spliteRight
{
	clip-path: polygon(100% 0, 67% 0, 38% 12%, 71% 25%, 38% 35%, 73% 53%, 43% 61%, 63% 78%, 33% 86%, 57% 100%, 100% 100%);
}
.container .image--container
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 1;
}
.container .image--container .blank
{
	position: relative;
	height: 100vh;
	background: url(../assets/images/joyAk-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container .image--container .galery-image
{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.footer
{
	position: relative;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #122647;
}
.footer h1
{
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 2em;
	color: #fff;
}
.footer h1 span a
{
	font-weight: 900;
	color: #ff5064;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.footer h1 span a:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	z-index: 9;
	width: 100%;
	background: #ff5064;
}
.footer .social
{
	margin: 30px 0;
	position: relative;
	display: flex;
}
.footer .social a
{
	margin: 20px;
	font-weight: 900;
	color: #fff;
	position: relative;
	text-decoration: none;
	font-size: 26px;
}